/*
HTML 5 FRAMEWORK
Copyright: Radoman Milos
Date: Feb, 2017
Author: Radoman Milos
CSS methodology: BEM
File and folder structure: SMACSS

Note: follow folder and file structure, respect methodology!
*/
@charset "UTF-8";

@import "_base/_reset.scss";
@import "_base/_elements";
@import "_base/_grid";
@import "_font/fonts";

html, body {
  height: 100%;
}

body {
  background-color: $white-font-clr;
  color:  white;
  font-family: 'proxima_nova_rgregular';
  font-size: $base-font-size;
  line-height: 1.375em;
  overflow-x: hidden;
}

