/* ==========================================================================
   Header Style's
   ========================================================================== */

.hero {
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero.jpg") 100% 100% no-repeat;
    background-size: cover;
    display: block;
    min-height: 700px;
}

.hero-logo {
    position: relative;
    padding-top: 50px;
    text-align: center;
}

.hero-center {
    display: block;
}

header {
    width: 100%;
    background-color: transparent;
    height: em(80px, $base-font-size);
    position: relative;
    color: white;
    .logo {
        font-weight: bold;
        font-size: 1.5em;
        float: left;
        line-height: em(51px, $base-font-size);
        position: relative;
        span {
            color: darkred;
            border: 1px solid darkred;
            transition: color 0.5s ease;
            margin-left: 0.2em;
            padding: 1px;
        }
    }
    .fa-bars {
        display: none;
        float: right;
        font-size: 1.5em;
        line-height: em(50px, $base-font-size);
        cursor: pointer;
        @include media($mobile-lg) {
            display: block;
        }
    }
    ul {
        list-style: none;
        float: right;
        background: transparent;
        @include media($mobile-lg) {
            position: absolute;
            display: none;
            width: 100%;
            background: white;
            top: em(80px, $base-font-size);
            left: 0;
        }
        li {
            display: inline-block;
            display: inline;
            @include media($mobile-lg) {
                display: block;
            }
            a {
                text-decoration: none;
                color: white;
                display: inline-block;
                line-height: em(74px, $base-font-size);
                margin-left: 1em;
                font-weight: bold;
                transition: color 1s ease;
                &:hover {
                    color: #179BD7;
                }
                @include media($mobile-lg) {
                    float: none;
                    display: block;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid grey;
                    line-height: 4em;
                }
            }
        }
    }
}